#cloud-config
package_update: true
package_upgrade: true
packages:
  - nginx
runcmd:
  - systemctl enable nginx
  - systemctl start nginx
  - echo "<h1>Welcome to ${project_name} - Nginx Frontend</h1>" > /var/www/html/index.html
