name: Terraform runner_flow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: [ self-hosted, terraform-runner ]

    env:
      OS_USERNAME: ${{ secrets.OS_USERNAME }}
      OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
      OS_TENANT_ID: ${{ secrets.OS_TENANT_ID }}
      OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
      OS_USERDOMAIN_NAME: NTNU
      OS_DOMAIN_NAME: NTNU
      OS_INTERFACE: public
      OS_ENDPOINT_TYPE: publicURL
      OS_IDENTITY_API_VERSION: 3
      TF_VAR_db_password: ${{ secrets.OS_PASSWORD }}
      TF_VAR_external_network: "ntnu-internal"


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Validate required secrets
        run: |
          for var in OS_USERNAME OS_PASSWORD OS_TENANT_ID OS_AUTH_URL; do
            if [ -z "${!var}" ]; then
              echo "Missing $var environment variable"
              exit 1
            fi
          done
          echo "All required OpenStack variables are set"

      - name: Initialize Terraform
        run: terraform init

      - name: Validate Terraform
        run: terraform validate

      - name: Plan Terraform
        run: terraform plan -var-file="terraform.tfvars.example"
